.current-weather-display,
.current-weather-forecast {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.current-weather-display {
  flex-direction: row;
  /* margin-left: 400px; */
}

.current-weather-forecast span {
  padding: 5px;
}
