.weather-display {
  display: flex;
  flex-direction: row;
}

.weather-display h2 {
  margin: 5px;
}

.weather-display-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  width: 250px;
}

.current-weather-forecast span {
  padding: 5px;
}
