
* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

input[ type=text ],
input[ type=password ],
button[ type=submit ] {
  width: 100px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
