body {
  text-align: center;
}

input[ type=text ],
input[ type=password ],
button,
button[ type=submit ] {
  width: 100px;
  margin: 10px 0;
}

input#inputList,
input#search,
select#listId {
  width: 120px;
}

input#inputList,
input#search {
  width: 120px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

input#inputList:focus,
input#search:focus {
  width: 70%;
}

input#inputList,
input#search {
  border: none;
  border-bottom: 2px solid #5e351b;
}

button[ type=submit ] {
  margin: 10px;
  background-color: #F6EDE7;
}

button {
  margin: 0;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
