
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

.addcity-form {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 0;
}

input {
  padding: 5px;
  margin: 2px;
}