/*  Home Styles */

body {
  margin: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-home {
  display: flex;
}

/* Media Query */

@media all and ( min-width: 600px ) {
  
  .main-home {
    justify-content: center;
    align-items: center;
  }
}
