/*  Home Styles */

body {
  margin: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 100vw; */
}

.main-home {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

@media all and ( min-width: 600px ) {
  .main-home {
    justify-content: center;
    align-items: center;
  }
}
