@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

.sidebar {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  width: 400px;
  max-height: 800px;
  margin: 5px;
}

.sidebar h3, p {
  font-size: 15px;
}

.white {
  color: white;
}

.sidebar-ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 12px;
}

.sidebar-form {
  bottom: 0;
  width: 100px;
}

.sidebar-lists-map {
  border-radius: 25px;
  background-color: #5e351b;
  border: 1px solid #97542A;
  margin-top: 20px;
  color: white;
}

.sidebar-lists-map ul {
  color: white;
}

.sidebar-lists-map h2 {
  margin-bottom: 5px;
}

.sidebar-lists-map p {
  margin: 10px 0;
}

.sidebar-lists-map a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

@media all and ( min-width: 600px ) {
  
  .sidebar {
    width: 600px;
  }
}