@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

.sidebar {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  /* border: 1px solid blue; */
  /* max-width: 200px; */
  /* max-height: 400px; */
  margin-right: 0;
}

.sidebar h3, p {
  font-size: 15px;
}

.sidebar ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 12px;
}

.sidebar-form {
  /* position: absolute; */
  bottom: 0;
  width: 100px;
}

.addlist-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

input[ type-text ] {
  width: 150px;
  padding: .5em;
}