.sidebar {
  /* position: absolute; */
  text-align: center;
  border: 1px solid blue;
  /* width: 200px; */
  /* height: 600px; */
  margin: 10px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar p {
  border: 1px solid red;
  margin: 2px;
  width: 150px;
}

.sidebar-form {
  /* position: absolute; */
  bottom: 0;
  width: 100px;
}

.sidebar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}