@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

.list {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  max-width: 400px;
  /* border: 1px solid orange; */
  /* overflow: auto; */
}

.item {
  height: 30px;
}

.city-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.list-cities li {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid red;
  margin: 2px;
  width: 150px;
}

button {
  margin-right: 10px;
  width: 20px;
}

.btn {
  border-radius: 40%;
  margin-left: 5px;
  width: 20px;
}

.list-cities {
  display: inline;
}

.list-cities ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color:black;
  height: 55px;
  max-width: 400px;
  overflow: auto;
}

.list-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.forecast-items {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.addcity-form {
  margin-bottom: 15px;
}

.weather-display {
  padding: 5px;
}

.city-name {
  display: flex;
  justify-content: center;
  align-items: center;
}