
.list {
  text-align: center;
  margin: 0 50px;
  border: 1px solid orange;
  
}

.city-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.list-cities li {
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid red;
  margin: 2px;
  width: 150px;
}

button {
  margin-right: 10px;
  width: 20px;
}

.btn {
  border-radius: 40%;
  margin-left: 5px;
  width: 20px;
}

.list-cities {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list-cities ul {
  flex-direction: row;
  list-style-type: none;
  color:black;
  width: 225px;
}

.list-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-items {
  display: flex;
  flex-direction: row;
}

.addcity-form {
  margin-bottom: 15px;
}

.weather-display {
  padding: 5px;
}
