
.list {
  text-align: center;
  margin: 0 50px;
  border: 1px solid orange;
  max-width: 75%;
}

.city-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.city-item p {
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid red;
  margin: 2px;
  width: 150px;
}

button {
  margin-right: 10px;
  width: 20px;
}

.btn {
  width: 20px;
}

.list-cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.list-cities ul {
  flex-direction: row;
  color:red;
}

.addcity-form {
  margin-bottom: 15px;
}