* {
  box-sizing: border-box;
}

.reg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email,
#password,
#password-repeat {
  width: 300px;
}

button {
  width: 100px;
}